.todo-item{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 3rem;
    margin: 0.3rem auto;

    .checkbox {
        cursor: pointer;
        position: relative;
        visibility: hidden;
        margin: 0 -40px;
        height: 35px;
    }
    .checkbox:after {
        border: 3px solid rgb(231, 158, 186);
        border-radius: 50%;;
        content: "";
        display: block;
        height: 33px;
        width: 33px;
        text-align: center;
        visibility: visible;
        transition: all 100ms ease-in-out;
        background-color: white;
    }
    .checkbox:checked:after {
        border: 3px solid rgb(231, 158, 186);
        color: white;
        font-size: 30px;
        border-radius: 50%;
        content: "✔";
        line-height: 43px;
        background-color: rgb(231, 158, 186);
        animation: bounce 300ms ease-in-out forwards;
    }
    
    @keyframes bounce {
        0% {transform: scale(1, 1);}
        70% {transform: scale(1.1, 1.1);}
        100% {transform: scale(1, 1);}
    } 

    .content{
        margin-right: 1rem;
        letter-spacing: 0.05rem;
        width: 20rem;
        padding: 0.5rem;
        font-size: 0.8rem;
        overflow:hidden ;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        // background-color: steelblue;
    }

    .btn-group{

        display: flex;
        justify-content: space-evenly;
        height: 1.5rem;

        .btn{
            cursor: pointer;
            width: 2.5rem; 
            height: 1.5rem;
        }

        .btn:hover{
            opacity:0.5;

        }       
      }
    }

    .mark-todo-item{
        max-width: 750px;
        background-color: rgba(255, 204, 170, 0.979);
        border-radius: 20px;

    }

    

   
  




