.input-wrapper{
    display: flex;
    justify-content: space-around;
    // flex-direction: row;
    // position: fixed;
    // top: 0.44rem;
    // left: 0;
    margin: 0 auto;
    width: 60%;
    height: 2.5rem;
    padding: .5rem .5rem;
    box-sizing: border-box;
    // border-bottom: rgb(90, 17, 185) solid 1px;
    background-color: rgb(255, 223, 236);

    input {
        // flex:1;
        // display: block;
        width: 75%;
        height: 1.3rem;
        // border: dotted 1.2px rgb(216, 132, 160);
        border: 2px solid rgb(240, 194, 221);
        // color: aquamarine;
        // border-radius: 20%;
        // font-size: 50rem;
        letter-spacing: 0.1rem;
        // text-indent: 20%;
    }

    input:focus {
        outline: none !important;
        border: 2px solid rgb(240, 194, 221);
        box-shadow: 0 0 10px #c1c6caa6;
        background: rgb(255, 255, 255);
      }
    
    .btn-add {
        width: 15%;
        height: 1.5rem;
        border-radius: 10%;
        letter-spacing: 0.1rem;
        border: dotted 1.2px rgb(219, 152, 189);
        color: rgb(245, 233, 240);
        background-color: rgb(219, 152, 189);
        cursor: pointer;
    }

    .btn-add:hover{
        background-color: #fff;
        color:rgb(219, 152, 189);
    }
}






