.header{
    margin: auto;
    width: 60%;
    height: 3.5rem;
    background-color: rgb(218, 127, 180);
    position: relative;

    h1{
        padding: 0.6rem 0;
        text-align: center;
        letter-spacing: 0.15rem;
        font-size: 1.5rem;
        color: rgb(243, 217, 228);
    }

    .pen {
        position: absolute;
        width: 1.3rem;
        top: 30%;
        right: 5%;
    }
}
