.header{
    margin: auto;
    width: 60%;
    height: 3.5rem;
    background-color: rgb(218, 127, 180);
    position: relative;

    h1{
        padding: 0.6rem 0;
        margin-left: 1rem;
        text-align: center;
        letter-spacing: 0.15rem;
        font-size: 1.5rem;
        color: rgb(243, 217, 228);
        span{
            font-size: 1rem;
            padding: 0.5rem;
        }
    }

    .add {
        cursor: pointer;
        position: absolute;
        width: 1.5rem;
        top: 30%;
        right: 1rem;
    }

    .add:hover {
        opacity:0.5;
    }
}