/* .btn{
    display: block;
    height: .3rem;
    color: bisque;
    font-size: .14rem;
    padding: 0 .1rem;
    
}

.btn.btn-primary{
    color: bisque;
    background-color: pink;
    border-color: pink;
}

.btn.btn-warning{
    color: bisque;
    background-color: orange;
    border-color: orange;
}

.btn.btn-danger{
    color: bisque;
    background-color:red;
    border-color: red;
} */