@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100&subset=chinese-traditional,japanese');

body{
    background-image: url("../src/assets/background.jfif") ;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Gochi Hand', 'Noto Sans TC', cursive;
}
.todo-list{
    margin-top: .44rem;
}




